@model Hakkimizda
@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Hakkımızda Güncelleme Sayfası</h1>
<br />

@using (Html.BeginForm("HakkimizdaGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x=>x.ID)
    @Html.TextBoxFor(x=>x.ID, new{@class="form-control",@readonly="readonly"})
    <br />
    @Html.LabelFor(x=>x.FotoUrl)
    @Html.TextBoxFor(x=>x.FotoUrl, new{@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.Aciklama)
    @Html.TextAreaFor(x=>x.Aciklama,12,1, new{@class="form-control"})
    <br />
    <button class="btn btn-success">Hakkımızda Güncelle</button>
}
