@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localize

<!DOCTYPE HTML>
<html>
<head>
    <title>Tatil & Seyahat Blogu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/responsiveslides.min.js"></script>

    <script>

        $(function () {

            $("#slider1").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
            });
        });
    </script>
</head>
<body>

    <div class="header">
        <div class="header" style="position: absolute; right: 0px; top: 0px;">
            <partial name="_Language" />
        </div>

        <div class="wrap">
            <div class="logo"><a><img src="~/images/logo.png" alt="" /></a></div>
            <div class="con-right">
                <div class="grid1-l-img">
                    <img src="~/images/contact.png" alt="">
                </div>
                <div class="grid1-l-desc">
                    <p>Whatsapp : +91 00000-55555</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>

        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <ul id="nav">
                <li><a href="/Default/Index/">@localize["anasayfa"]</a></li>
                <li><a class="hsubs" href="/About/Index/">@localize["hakkimizda"]</a></li>
                <li>
                    <a class="hsubs" href="/Photo/Index">@localize["resimler"]</a>
                </li>
                <li><a class="hsubs" href="/Blog/Index">@localize["blogum"]</a></li>
                <li><a href="/Contact/Index">@localize["iletişim"]</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        @RenderBody()

    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>@localize["footerinfo"] <a href="http://w3layouts.com">W3Layouts</a></p>
            </div>
        </div>
    </div>
</body>
</html>
